body{
  background-color: #F2F2F2 !important;
  font-family: 'Averta', sans-serif !important;
  margin: 0 ;
  padding: 0 ;
}


@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: 500;
	src: url(../fonts/averta-regular-webfont.woff);
}


.navbar-brand{
  color: #FFFFFF !important;
  font-weight: bold;
}

.navbar-nav a{
  color: #FFFFFF !important;
}

.navbar-transparent{
  background:transparent !important;
  background-image:none !important;
  border-color:transparent !important;
  box-shadow:none !important;
}

.navscroll{
  background: #111517;
}

#container{
  width: auto !important;
  margin: auto !important;
  padding: auto !important;
}


.the-line{
  padding: 50px;
}

hr{
  border-color: #CCCCCC !important;
  margin-left: auto;
  margin-right: auto;
}

footer{
  font-size: 12px;
  padding: 50px;
}

footer .footer-text{
  text-align: center;
  font-weight: bold;
}

footer .second-p{
  color: #999999;
}


/*
  ========================================
  MEDIA QUERIES
  ========================================
*/

@media only screen and (max-width: 1200px) {
  .card {
    height: inherit;
    }
}

@media only screen and (max-width: 620px){
    .search-box{
      width: auto !important;
      margin: -10px !important;
      overflow: none !important;
    }
}