body {
  font-family: 'Averta', sans-serif !important;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/averta-regular-webfont.woff);
}

#container {
  width: auto !important;
  margin: auto !important;
  padding: auto !important;
}

/*
.carousel-caption {
    top: 0;
    bottom: auto;
    padding-top: 300px !important;
}
*/

.jumbotron {
  background-color: #FFFFFF !important;
}

.mid-text {
  text-align: center !important;
  margin: auto !important;
  padding: auto !important;
}

.mid-text h1{
  font-size: 30px !important;
}

.mid-text-fade{
  color: #A6A6A6;
  text-align: center;
}

.mid-text hr{
  width: 20%;
  border-color: #444444 !important;
  margin-left: auto;
  margin-right: auto;
}

.mid-text p{
  padding: 0 200px;
}

/*
  ========================================
  FOOTER PRODUCTS
  ========================================
*/


.footer-products{
  margin: 50px 0 50px 0;
}

.footer-products p{
  text-align: center;
  font-size: 30px;
  font-weight: 600px;
}

.footer-products-img {
  background-color: rgba(0,0,0, 0.5);
  zoom: 1;
  position: relative;
}

.footer-products, .footer-nav{
  text-transform: uppercase;
  font-weight: 600px;
}

.caption {
    position: absolute;
    font-size: 20px;
    font-weight: 600px;
    top: 45%;
    left: 0;
    width: 100%;
}

.caption p{
  color: #FFFFFF;
}

.caption p:hover{
  color: #FFFFFF;
}

.caption p:active{
  color: #FFFFFF;
}

.caption p:after{
  color: #FFFFFF;
}


/*FOOTER*/
footer {
  background-color: #444444;
  color: #FFFFFF;
  padding: 100px 20px;
  text-align: center;
}

.footer-logo {
  width: 50px;
}


@media only screen and (max-width: 1120px){
  .mid-text p{
    padding: inherit !important;
  }
}