<div class="start-image">
	  <img src="../images/landing.jpg" alt="">
	
</div>

<header class="container group">
	<section class="container">
	<h1 class="aboutlogo"> Inspiring <br/>African Luxury</h1>
	</section>
	
</header>


<!--div class="intro">Inspiring African Luxury<div-->
<section class="container">
	<section class="jumbotron">

<p> A truly Afrian brand. Gajimare has a unique identity born of two cultures in Kenya and Nigeria. We are a pan african company supplying 100% natural African inspired products derived from the vast knowledge of traditional African societies.</p><p>Gajimare is a brand under the Elvante Group which manufactures various products in Nairobi and Abuja in FMCG.</p>

<p>Our products are produced on the outskirts of Abuja on our 40 hectare farm where we grow our own mint and jojoba and from our farm in the heartland of Massai country in Kenya.</p>
	
	</section>

</section>


<section class="grid">

<!--soaps-->
	<section class="teaser col-1-3">
		<h5>Soaps</h5>
		<a href="soaps.html">
			 <img src="../images/item-1.jpg" alt="Soaps">
		<h3>Available Soaps</h3>
		</a>
		<p>View out rich collection of fabulouse soaps with differnt fragrance </p>
	</section><!--body butters
	--><section class="teaser col-1-3">
		<h5>Body Butters</h5>
		<a href="bodybutters.html">
			<img src="../images/item-2.jpg" alt="body butters">
		<h3>Available Soaps</h3>
		</a>
		<p>View out rich collection of fabulouse soaps with differnt fragrance </p>
	</section><!-- git section 
	--><section class="teaser col-1-3">
		<h5>Gift Indulgence</h5>
		<a href="Gift.html">
			 <img src="../images/item-3.jpg" alt="Gifts">
			 <h3>Available Soaps</h3>
			 </a>
		<p>View out rich collection of fabulouse soaps with differnt fragrance </p>
	</section>
	

</section>

<!--footer class="primary-footer container group">
  <small>&copy; Gajimare 2017</small>
</footer-->


