<div class="artistes">
	<div class="animated fadeIn landing-artistes">
		<div class="jumbotron">
			<h1 class="title">Explore Spotify Artistes</h1>
			<p>Music for every moment</p>
			<div class="form-group">
				<input class="search-box" type="text" placeholder="Explore playlists" ng-model="resourceList.search">
			</div>
		</div>
	</div>
	<div class="playlist-view" ng-init="getArtistes()">
		<div class="container">
			<div class="row">
				<!--ng repeat to cycle over the data in the API-->
				<div class="back-opacity">
					<div class="animated fadeInUp card col-sm-4" ng-repeat="artiste in artistes">
						<a href="{{artiste.playlist_url}}" target="_blank">
					<img src="{{artiste.image_url}}">

					<div class="card-desc">
						<h1 class="playlist-title">{{artiste.playlist_name}}</h1>
						<p class="songs">{{artiste.number_of_songs}} songs</p>
						<p class="description">{{artiste.description}}</p>

						<p class="username"><span style="color: #999999;">Playlist by </span>{{artiste.username}}</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--PRESSPLAY<span>  &#160; &#160; &#160; &#160;<span style="font-size: 21px;">&#10230;</span>-->