<div class="products-section">
  <div ng-controller="" ng-init="">
    <div class="container">
      <div class="row">
        <!--ng repeat to cycle over the data-->
        <div class="back-opacity">
          <div class="animated fadeInUp card col-sm-3">
              <img src="../images/item.jpg" alt="">
              <div class="card-text">
                <p class="card-title">Body Butter Lotion</p>
                <p class="category">Body Butters</p>
                <p>Kes. 2500</p>

                
                  <a class="view-item" href="">VIEW</a>
                  <a class="cart" href="">ADD TO CART</a>
                
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>