<div class="charts">
	<div class="animated fadeIn landing-charts">
		<div class="jumbotron">
			<h1 class="title">Explore Spotify Charts</h1>
			<p>Music for every moment</p>
			<div class="form-group">
				<input class="search-box" type="text" placeholder="Explore playlists" ng-model="resourceList.search">
			</div>
		</div>
	</div>
<div class="playlist-view" ng-init="getCharts()">
	<div class="container">
		<div class="row">
			<!--ng repeat to cycle over the data in the API-->
			<div class="back-opacity">
				<div class="animated fadeInUp card col-sm-4" ng-repeat="chart in charts | filter:resourceList.search | orderBy: Title">
					<a href="{{chart.playlist_url}}" target="_blank">
					<img src="{{chart.image_url}}">

					<div class="card-desc">
						<h1 class="playlist-title">{{chart.playlist_name}}</h1>
						<p class="songs">{{chart.number_of_songs}} songs</p>
						<p class="description">{{chart.description}}</p>

						<p class="username"><span style="color: #999999;">Playlist by </span>{{chart.username}}</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
