<div class="playlists">
	<div class="animated fadeIn landing-playlists">
		<div class="jumbotron">
			<h1 class="title">Explore Spotify playlists</h1>
			<p>Music for every moment</p>
			<div class="form-group">
				<input class="search-box" type="text" placeholder="Explore playlists" ng-model="resourceList.search">
			</div>
		</div>
	</div>

<div ng-controller="PlaylistController" class="playlist-view" ng-init="getPlaylists()">
	<div class="container">
		<div class="row">
			<!--ng repeat to cycle over the data in the API-->
			<div class="back-opacity">
				<div class="animated fadeInUp card col-sm-4" ng-repeat="playlist in playlists | filter:resourceList.search | orderBy: Title">
					<a href="{{playlist.playlist_url}}" target="_blank">
					<img src="{{playlist.image_url}}">

					<div class="card-desc">
						<h1 class="playlist-title">{{playlist.playlist_name}}</h1>
						<p class="songs">{{playlist.number_of_songs}} songs</p>
						<p class="description">{{playlist.description}}</p>
						
						<p class="username"><span style="color: #999999;">Playlist by </span>{{playlist.username}}</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--PRESSPLAY<span>  &#160; &#160; &#160; &#160;<span style="font-size: 21px;">&#10230;</span>-->