<div class="container">
	<div class="card">
		<div class="container-fliud">
			<div class="wrapper row">
				<div class="preview col-md-6">

					<div class="preview-pic tab-content">
						<div class="tab-pane active" id="pic-1"><img style="width: 420px" src="../images/product1.jpg" /></div>
						<div class="tab-pane" id="pic-2"><img style="width: 420px" style="width: 420px" src="../images/product2.jpg" /></div>
						<div class="tab-pane" id="pic-3"><img style="width: 420px" src="../images/product3.jpg" /></div>
						<div class="tab-pane" id="pic-4"><img style="width: 420px" src="../images/product4.jpg" /></div>
						<div class="tab-pane" id="pic-5"><img style="width: 420px" src="../images/product5.jpg" /></div>
					</div>
					<ul class="preview-thumbnail nav nav-tabs">
						<li class="active"><a data-target="#pic-1" data-toggle="tab"><img style="width: 210px" src="../images/product1.jpg" /></a></li>
						<li><a data-target="#pic-2" data-toggle="tab"><img style="width: 210px"src="../images/product2.jpg" /></a></li>
						<li><a data-target="#pic-3" data-toggle="tab"><img style="width: 210px" src="../images/product3.jpg" /></a></li>
						<li><a data-target="#pic-4" data-toggle="tab"><img style="width: 210px" src="../images/product4.jpg" /></a></li>
						<li><a data-target="#pic-5" data-toggle="tab"><img style="width: 210px" src="../images/product5.jpg" /></a></li>
					</ul>

				</div>
				<div class="details col-md-6">
					<div class="top-title">
						<h3 class="product-title">BODY BUTTER</h3>
						<h4 class="sub-title">Refreshing Fragrance</h4>
						<hr>
						<h4 class="price">Kes. 1800</h4>
						<small>500gms</small>
					</div>

					<p class="product-description">We believe in using traditional techniques in the creation of our 100% natural products. We source our unrefined Shea
						butter from Nigeria, our Cocoa Butter from Ghana, our Cold pressed Coconut oil from the coasts of Kenya and Sao Tome.
						Our essential oils are also sourced from the continent : Ylang Ylnag from Madagascar, Argan from Morrocco, Moringa,
						Lavendar, Rose Oil, Leleshwa Oil and Qasil from Kenya. </p>

					<ul>
						<li>The rich almond oil content nourishes the sensitive and dry skin</li>
						<li>Promotes the skin’s collagen and elastin production</li>
						<li>Contains high concentrations of linoleic and oleic acid</li>
						<li>Extra skin soothing effect thanks to the vitamins A, B1, B2, B6, and D</li>
						<li>Regenerating thermal water content from Hévíz</li>
						<li>Skin aging-inhibiting Vitamin E active ingredient</li>
						<li>Special spring fragrance mixture: almond blossom, clementine, citrus, grapefruit</li>
					</ul>


					<div class="animated fadeInDown bttn">
						<a class="add-btn side-space" href="">add to cart</a>
						<a class="add-btn" href="">buy</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="collections-section">
		<div class="title">
			<p>MORE PRODUCTS</p>
		</div>

		<div ng-controller="" ng-init="">
			<div class="container">
				<div class="row">
					<!--ng repeat to cycle over the data-->
					<div class="back-opacity">
						<div class="animated fadeInUp card col-sm-4">
							<div class="collection-img text-center">
								<a href="">
              <img src="../images/item.jpg" alt="" class="img-responsive">
              <div class="caption">
                <p>BODY BUTTERS</p>
              </div>
              </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>